@mixin breakpoint($point) {
  @if $point == tablet {
    @media (max-width: $breakpoint-tablet) {
      @content;
    }
  } @else if $point == phone {
    @media (max-width: $breakpoint-phone) {
      @content;
    }
  } @else {
    @media (max-width: $point) {
      @content;
    }
  }
}
@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}