// Media breakpoints
$breakpoint-tablet: 1024px;
$breakpoint-phone: 768px;

// Grid
$grid-width: 114rem;
$gutter: 6rem;

// Colors
$white: #fff;
$black: #000;
$light-blue: #56bcbb;
$grey: #585c60;